# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
- list data science languages
-  list data science libraries
- code cell to multiply and add numbers
- code cell to convert minutes to hours

 Some of the popular languages that Data Scientists use are: 
1. python
2. R 
3. Julia

Some of the commonly used libraries used by Data Scientists include:

    1. Numpy
    2. Pandas 
    3. Matplotlib

|Data Science Tools | 
|-------------------|
|Jupyter notebook| 
|Rstudio| 
|vscode|

### Below are a few examples of evaluating arithmetic expressions in Python

In [34]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [35]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Malak MOUTAIB